@charset "UTF-8";
:root {
  -
  --bs-font-family: 'Carrois Gothic SC', sans-serif;
  --bs-body-font-family: 'League Gothic', sans-serif;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-bg:rgb(58, 99, 81) ;
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: 2rem;
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  text-align: var(--bs-body-text-align);
}


h6, .h6, h5, .h5, h4, .h4, h3, .h3,, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family:bs-font-family: 'Carrois Gothic SC', sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color:rgb (228, 130, 87);
  font-size auto;
  text-align: center;
}

.bio-pic {     
    width: 120%;
    height: 300;
}

.john-c {
  display: block;
  margin-left: 100px;
  margin-right: 200px;
  width: 50%;
}

.col-4 {
  width: 100%;
  height: auto;
}

.col-5 {
  width: 600%;
  height: auto;
}

.lead { 
  text-align: center;
  font-size: 4em;
}

p {
  font-size: 2em;
  text-align: center;
}

.nav-link, .nav-flex .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #E48257;
  background-color: #F2EDD7;
}


